@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Components.Web

<div class="mx-3 my-1">
    <label>Add Tags:</label>
    <InputText @bind-Value="NewTag" class="form-control" @onkeyup="TagInputKeyPress" maxlength="50"/>
</div>

@code{
    [Parameter]
    public EventCallback<string> AddNewTagCallback { get; set; }

    public string NewTag { get; set; } = "";

    private void TagInputKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddNewTagCallback.InvokeAsync(NewTag);
            NewTag = "";
        }
    }
}