@code {
    [Parameter]
    public HashSet<string> Tags { get; set; } = new();
}

<div class="tag-container mx-3 my-1">
    @foreach (string tag in Tags)
    {
        <div class="tag-container-item">
            @tag <span class="btn-close" @onclick="() => Tags.Remove(tag)"></span>
        </div>
    }
</div>

<style>
    .tag-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        max-height: 130px;
        overflow-y: auto; /* Enables vertical scrolling if content overflows */
        overflow-x: hidden; /* Prevents horizontal overflow */
    }

    .tag-container-item {
        color: white;
        backdrop-filter: blur(10px);
        border-radius: 15px; /* Rounded corners */
        padding: 6px 15px;
        width: auto;
        text-align: center;
        margin: 2px;
        align-items: center; /* Vertically center */
        gap: 6px; /* Space between text and close button */
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 250px;
    }

    .tag-container-item:nth-child(7n+1) {
       background-color: red !important;
    }
    .tag-container-item:nth-child(7n+2) {
       background-color: darkorange !important;
    }
    .tag-container-item:nth-child(7n+3) {
       background-color: #edcc0e !important;
       color: black !important;
    }
    .tag-container-item:nth-child(7n+4) {
       background-color: green !important;
    }
    .tag-container-item:nth-child(7n+5) {
       background-color: blue !important;
    }
    .tag-container-item:nth-child(7n+6) {
       background-color: indigo !important;
    }
    .tag-container-item:nth-child(7n+7) {
       background-color: violet !important;
    }

    .tag-container-item .btn-close {
        margin-left: 8px;
        filter: invert(1);
    }

    .tag-container-item:nth-child(7n+3) .btn-close {
        filter: none;
    }
</style>
