@page "/login"
@inject AccountService AccountService

@using SpendBuddy.Models

<div class="login-container">
    <img src="logo.png" alt="Logo" />
    <div class = "login-form">
        <div class="form-group mb-1">
            <label for="username">Username</label>
            <InputText class="form-control" @bind-Value="userCredentials.Username" />
        </div>

        <div class="form-group mb-2">
            <label for="password">Password</label>
            <InputText type="password" class="form-control" @bind-Value="userCredentials.Password" />
        </div>

        <div class="flex justify-between">
            <button class="btn btn-primary" @onclick="OnLogin">Login</button>
            <button class="btn btn-secondary" @onclick="OnSignUp">Sign Up</button>
        </div>
    </div>
</div>

@code {

    private User userCredentials = new User();
    private string errorMessage = "";
    
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;

    private void OnLogin()
    {
        AccountService.RequestLogin(userCredentials);
    }

    private void OnSignUp()
    {
        AccountService.CreateUser(userCredentials);
    }
}

<style>
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        height: 100vh; /* Full viewport height */
        background: linear-gradient(to right, #c94b4b, #4b134f);
    }

    .login-form {
        width: 50%; /* Takes up half the width of the screen */
        padding: 20px;
        border-radius: 8px; /* Optional: rounded corners */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
        background: white;
    }
</style>